:root {
    --background-color-light: #ffffff;
    --text-color-light: #000000;
    --link-color-light: #000000;
    --link-hover-color-light: #3065b4;
    --border-color-light: #000000;
  
    --background-color-dark: #272829;
    --text-color-dark: #fff6e0;
    --link-color-dark: #fff6e0;
    --link-hover-color-dark: #b3383e;
    --border-color-dark: #fff6e0;
  }
  
  [data-theme="light"] {
    --background-color: var(--background-color-light);
    --text-color: var(--text-color-light);
    --link-color: var(--link-color-light);
    --link-hover-color: var(--link-hover-color-light);
    --border-color: var(--border-color-light);
  }
  
  [data-theme="dark"] {
    --background-color: var(--background-color-dark);
    --text-color: var(--text-color-dark);
    --link-color: var(--link-color-dark);
    --link-hover-color: var(--link-hover-color-dark);
    --border-color: var(--border-color-dark);
  }

* {
  margin: 0;
  background-color: var(--background-color);
  font-family: monospace;
}

body {
  color: var(--text-color);
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -1em;
  margin-left: 20%;
  margin-right: 20%;
}

.navbar ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar ul li {
  margin-right: 2em;
}

.navbar-left {
  margin-right: 26em;
}

.navbar a {
  font-size: 26px;
  text-decoration: none;
  color: var(--text-color);
}

.navbar a:hover {
  color: var(--link-hover-color);
}

.content-box {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px solid var(--text-color);
  border-radius: 5px;
  padding: 2%;
}

.content-box a {
  color: var(--text-color);
  text-decoration: none;
}

.content-box a:hover {
  color: var(--link-hover-color);
  text-decoration: line;
}

.subtitle{
    font-size: 18px;
}

.footer {
  margin-top: -1em;
}

.footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 20px;
}

.footer ul li {
  margin-right: 10px;
}

.footer ul li a {
  text-decoration: none;
  color: var(--text-color);
}

.footer ul li a:hover {
  color: var(--link-hover-color);
}

.footer ul li#darkModeSwitch {
    cursor: pointer;
  }

.footer ul li#darkModeSwitch:hover {
    color: #61677A;
}

/* Media Queries */

/* For desktops and laptops */
@media only screen and (min-width: 1200px) {
  .navbar ul li {
    margin-right: 2em;
  }

  .navbar-left {
    margin-right: 26em;
  }

  .content-box {
    margin-left: 20%;
    margin-right: 20%;
  }

  .footer ul li {
    margin-right: 10px;
  }
}

/* For tablets */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .navbar ul li {
    margin-right: 1.5em;
  }

  .navbar-left {
    margin-right: 15em;
  }

  .content-box {
    margin-left: 15%;
    margin-right: 15%;
  }

  .footer ul li {
    margin-right: 5px;
  }
}

/* For phones */
@media only screen and (max-width: 767px) {
  .navbar ul li {
    margin-right: 0.5em;
  }

  .navbar-left {
    margin-right: 5em;
  }

  .content-box {
    margin-left: 15%;
    margin-right: 15%;
  }

  .footer ul li {
    margin-right: 5px;
  }
}
