* {
  background-color: #212324;
  color: #fff;
  font-family: monospace;
}

.username {
  margin-right: 2em;
}

.home-link {
  margin-left: 11em;
}

.projects-link {
  margin-right: 1em;
}
.navbar {
  text-align: center;
  font-size: 1.5em;
  background-color: antiquewhite;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin-top: 5%;
}

.navbar ul li a {
  text-decoration: none;
  padding: 0 0.5em;
}

.navbar ul li a:hover {
  color: grey;
}

hr {
  width: 50em;
  background-color: #fff;
  margin: -1em auto;
}

.content-box  {
  max-width: 40em;
  margin: 2em auto;
  font-size: 1.2em;
}

.content-box ul{
    list-style: none;
}

.footer {
  text-align: center;
  font-size: 1.5em;
}

.footer ul li {
  list-style: none;
  display: inline-block;
  margin-left: 0.5em;
}

.footer ul li a {
  text-decoration: none;
}

.footer ul li a:hover {
  color: grey;
}

.resume-link:hover{
    color:bisque;
    cursor: pointer;
}
