body {
    margin: 0;
    background: #222;
    font-family: monospace;
    font-weight: 350;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background: #5f718b
}

header::after {
    content: '';
    display: table;
    clear: both; 
}

.logo {
    float: left;
    font-size: 130%;
   
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 15px;
}

nav ul li a {
    color: #444;
    font-size: 130%;
    text-decoration:  none;
    text-transform: uppercase;
}

nav ul li a:hover {
    color:aliceblue
}