
* {
  margin: 0;
  background-color: #222831;
  font-family: Courier;
}

.webpage-title{
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title{
  font-size: 26px;
  color: #76ABAE;
}

body {
  color: #EEEEEE;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
}

.content-box {
  margin-top: 0.1%;
  margin-bottom: 1%;
  font-size: 22px;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px solid #31363F;
  border-radius: 5px;
  padding: 2%;
  background-color: #31363F;
}

.content-box p{
  background-color: #31363F;
}

.content-box p b{
  background-color: #31363F;
}

.content-box p a em{
  background-color: #31363F;
}

.content-box a {
  color: #35c1c9;
  text-decoration: none;
  
}

.content-box a:hover {
  color: #F6B17A;
  text-decoration: line;
}

.projects{
  background-color: #31363F;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  justify-content:center;
  align-items:center;
  text-align:center;
  grid-gap: 0.5em;
  margin-top: 0.5em;
}

.project-box{
  border: 2px solid #35c1c9;
  background-color: #31363F;
  border-radius: 5px;
  padding:0.5em;
}

.project-title{
  font-size: 20px;
  
}

.project-box p{
  font-size: 15px;
  color:#EEEEEE;
}
.footer {
  margin-top: 1em;
  margin-left: 20%;
  margin-right: 20%;
}

.footer ul  {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -0.5em; 
}

.footer ul li{
  padding-right: 2.5em;
}

.footer ul li a {
  text-decoration: none;
  color: #76ABAE;
  font-size: 26px;
}

.footer ul li a:hover {
  color: #F6B17A;
}


/* Media Queries */

/* For desktops and laptops */
@media only screen and (min-width: 1000px) {
  .content-box {
    margin-left: 20%;
    margin-right: 20%;
  }
}

/* For tablets */
@media only screen and (min-width: 748px) and (max-width: 1699px) {
  .content-box {
    margin-left: 15%;
    margin-right: 15%;
  }
}

/* For phones */
@media only screen and (max-width: 1080px) {
  .content-box {
    margin-left: 15%;
    margin-right: 15%;
  }
}
